@media (max-width:480px){
    body {
        flex-direction: column;
        width: 768px
    };}
@media (max-width:480px){
    ul {
        display: none;
    };}
    
@media (max-width:480px){    
    .user-buttons{
        width: 100vw;
    };}
@media (max-width:480px){    
    .computer-button{
        width: 100vw;
    };}
@media (max-width:480px){    
    .playground{
        width: 100vw;
    };}


body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-shrink: 1;
    }
.user-buttons{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: cadetblue;
    width: 480px;
}
.userButtons{
    background-color:aqua;
    height: 5rem;
    color: antiquewhite;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 15px;
    
}
.userButtons:focus{
    background-color: chartreuse;
}
.userButtons:hover{
    background-color: #00d9ff;
}
.computer-button{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
    width: 480px;
}
.computerButton{
    width: 80%;
    height: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 15px;
}
.computerButton:hover{
    background-color: rgb(189, 109, 4);
    color: antiquewhite;
}
.playground{
    text-align: center;
    background-color:deepskyblue;
    width: 480px;
}
ul{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    text-indent: 5%;
    font-size: 0.8rem;
    
}
.played{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:max-content;
}
.chosen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
}
.result{
    width: 30%;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 700;
}